/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */


/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* COLORS */

@define-color fg #f8f8f2;
@define-color fglight #ffffff;
@define-color bgligher #393649;
@define-color bglight #2e2b3b;
@define-color bg rgba(34, 33, 44, 0.7);
@define-color bgdark #17161d;
@define-color bgdarker #0b0b0f;
@define-color comment #7970a9;
@define-color selection #454158;
@define-color subtle #424450;
@define-color cyan #80ffea;
@define-color bright_cyan #99ffee;
@define-color green #8aff80;
@define-color bright_green #a2ff99;
@define-color orange #ffca80;
@define-color pink #ff80bf;
@define-color bright_pink #ff99cc;
@define-color purple #9580ff;
@define-color bright_purple #aa99ff;
@define-color red #ff9580;
@define-color bright_red #ffaa99;
@define-color yellow #ffff80;
@define-color bright_yellow #ffff99;

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

/* The whole bar */
#waybar {
	background: transparent;
	color: @fg;
	font-family: "Fira Code", "FiraCode Nerd Font";
	font-size: 11pt;
	font-weight: bold;
}

/* Module groups */
.modules-left {
	margin: 10px 0 0 10px;
}

.modules-center {
	margin: 10px 0 0 0;
}

.modules-right {
	margin: 10px 10px 0 0;
}

/* Each module */
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-alsa,
#sndio,
#tray,
#custom-gpu {
	border-top: 2px solid @mantle;
	border-bottom: 2px solid @mantle;
	padding: 3px 10px;
	background: @bg;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
	color: @red;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
	color: @orange;
}

/* And now modules themselves */
#mode {
	margin-right: 10px;
	border: 2px solid @purple;
	border-radius: 20px;
	color: @purple;
}

#workspaces button {
	border-top: 2px solid @fg;
	border-bottom: 2px solid @fg;
	padding: 0 4px;
	color: @fg;
	background: @bg;
}

#workspaces button:first-child {
	border-left: 2px solid @fg;
	border-radius: 20px 0 0 20px;
}

#workspaces button:last-child {
	border-right: 2px solid @fg;
	border-radius: 0 20px 20px 0;
}

#workspaces button:only-child {
	border-radius: 20px;
}

#workspaces button.focused {
	border-color: @purple;
	color: @purple;
}

#workspaces button.urgent {
	border-color: @red;
	color: @red;
}

#window {
	margin: 0 40px;
}

#custom-alsa,
#pulseaudio,
#sndio {
	margin-left: 10px;
	border: 2px solid @orange;
	border-radius: 20px;
	color: @orange;
}

#network {
	border-right: 2px solid @birght_yellow;
	border-radius: 0 20px 20px 0;
	border-color: @bright_yellow;
	color: @bright_yellow;
}

#memory {
	border-color: @green;
	color: @green;
}

#cpu {
	border-left: 2px solid @bright_cyan;
	border-radius: 20px 0 0 20px;
	border-color: @bright_cyan;
	color: @bright_cyan;
}

#temperature {
	border-color: @bright_green;
	color: @bright_green;
}

#battery {
	margin-left: 10px;
	border: 2px solid @green;
	border-radius: 20px;
	color: @green;
}

#clock.date {
	border: 2px solid @pink;
	border-radius: 20px;
	color: @pink;
}

#clock.time {
	margin-left: 10px;
	border: 2px solid @red;
	border-radius: 20px;
	color: @red;
}

#custom-gpu {
	border-color: @cyan;
	color: @cyan;
}
