* {
	font-size: 10pt;
}

window {
	margin: 0px;
	border: 1px solid #9580ff;
	background-color: #22212c;
}

#input {
	margin: 5px;
	border: none;
	color: #f8f8f2;
	background-color: #504c67;
}

#inner-box {
	margin: 5px;
	border: none;
	background-color: #22212c;
}

#outer-box {
	margin: 5px;
	border: none;
	background-color: #22212c;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: #f8f8f2;
}

#entry:selected {
	background-color: #504c67;
}
