* {
	font-size: 10pt;
}

window {
	margin: 0px;
	border: 1px solid #9580ff;
	border-radius: 5px;
	background-color: rgba(29, 32, 47, 0.7);
}

#input {
	margin: 5px;
	border: 1px solid #9580ff;
	color: #f8f8f2;
	background-color: rgba(30, 32, 48, 0.5);
}

#inner-box {
	margin: 5px;
	border: none;
	background-color: transparent;
}

#outer-box {
	margin: 5px;
	border: none;
	background-color: transparent;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin: 5px;
	border: none;
	color: #f8f8f2;
}

#entry:selected {
	border: 1px solid #9580ff;
	border-radius: 5px;
	background-color: rgba(30, 32, 48, 0.5);
}
