/* Tridactyl */
statuspanel[type="overLink"],
#statuspanel[type="overLink"],
#TabsToolbar,
#navigator-toolbox::after,
#titlebar,
#back-button,
#forward-button,
#stop-reload-button,
#home-button,
#unified-extensions-button,
#PanelUI-button {
	display: none !important;
}

:root:not([customizing]) #navigator-toolbox:not(:focus-within) {
	max-height: 0 !important;
	min-height: 0 !important;
	overflow: hidden !important;
}

:root:not([customizing]) #navigator-toolbox:not(:focus-within) #nav-bar {
	max-height: 0 !important;
	min-height: 0!important;
	margin-bottom: 0 !important;
	opacity: 0 !important;
}

#main-window[sizemode="maximized"] #content-deck {
	padding-top: 0 !important;
}
